name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # Install package and dependencies
      - name: Install package and dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .
          python -m pip install pytest

      # Run tests
      - name: Run tests
        run: |
          export PYTHONPATH="${{ github.workspace }}:$PYTHONPATH"
          pytest -q
